// main: ../imports.scss

// ----------------------------------
// SECTION
// ----------------------------------

section {
  &.block {
      padding: 5rem 0;
  }

  .section__heading {
    text-transform: uppercase;
    border-bottom: solid 1px $font__color;
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  .section__content {
  }
}
