// main: ../imports.scss




@media (max-width: 550px) {
  .section {
    &.skills {
      .col {
        &-75-25 {
        font-size: 0;

          .column {
            &.first {
              width: 60%;
            }

            &.second {
              width: 40%;
            }
          }
        }
      }
    }
  }
}
