// main: ../imports.scss

.page {
  background-color: $page__bg;
  box-shadow: 0px 0px 10px #c9c9c9;
  max-width: 595px;
  margin: 10px auto;
  padding: 3rem 5% 3% 5%;

  .tech {
    padding-left: 15px;

    .rating {
      font-weight: 700;
      float: right;
      text-align: right;
    }

    li {
      &::before {
        content: "\2020";
      }
    }
  }

  .job-title {
    font-style: italic;
  }

  .first-name {
    font-weight: 600;
    text-transform: uppercase;
  }
}
