// main: ../imports.scss

// ----------------------------------
// GLOBAL
// ----------------------------------

.rainbow {
  &__txt {
    @extend %rainbow__txt;

    &--active {
      &:hover,
      &:focus {
        @extend %rainbow__txt;
      }
    }
  }

  &__bg {
    @extend %rainbow__bg;

    &--active {
      &:hover,
      &:focus {
        @extend %rainbow__bg;
      }
    }
  }
}


h1 {
  font-size: $font__size--headline;
  font-weight: normal;
  text-transform: uppercase;
}

img.media {
  width: 100%;
  overflow: hidden;
}

.clearfix {
  clear:both;
  overflow: auto;
}

.bold-right {
  font-weight: 600;
  float: right;
}

.italic {
  font-style: italic;
}

@media(max-width: 550px) {
  .bold-right {
    float: none;
    display: block;
  }

  h1 {
    font-size: 1.25rem;
  }

  .no-bullet {
    padding-left: 10px;
  }
}

@media(max-width: 380px) {
  h1 {
    font-size: 1.15rem;
  }
}
