// main: ../imports.scss

body {
  font-size: 62.5%;
}

*:before,
*:after {
  z-index: -1;
  box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

.section, .section--headline {
  padding: 0 0 10px 0;
  overflow: hidden;

  &:last-of-type {
    padding: 0;
  }
}

p {
  margin: 0;
  padding: 0;
  @include font-size($font__size);
}

ul {
  list-style: none;
}
