 // main: ../imports.scss

// colors
$white: #ffffff;
$off-white: #f2f2f2;

$pink: #ff8686;

$grey--light: #b6b6b6;
$grey: #777777;
$grey--dark: #444444;

$black: #1a1a1a;
$black--true: #000000;

// typography
$font: "Open Sans", "Sans Serif";
$font__color: $grey--dark;
$font__size: 11px;
$font__size--heading: 12px;
$font__size--headline: 30px;
$link: $grey;
$action: $pink;

// applied
$body__bg: $off-white;
$page__bg: $white;

$link--actionable: $pink;
