// main: ../imports.scss

a,
.section-contact .btn {
  transition: all .25s;
}

.styline {
  width: 50%;
  height: 10px;
  align: center;
}

.navbar a,
.section-about p {
  text-align: center;
}

.navbar {
  padding: 10px 0;
  align: center;
  background-color: #d9d9d9;
}

.navbar a {
  font-size: 25px;
}

.navbar .fa-external-link {
  font-size: 10px;
}

.main-heading {
  font-family: 'Times New Roman';
  font-weight: 300;
  text-align: center;
  align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.container > h1 {

  text-align: center;
  //color: #ff8686; //probably worth changing all to, or removing this
  text-transform: uppercase;
  font-weight: 310;
}

p {
  line-height: 2;
  font-size: 18px;

}

.section-services h2,
.section-services p {
  font-weight: 300;
  text-align: center;
}

.section-kw p {
  font-style: italic;
}

.section-contact {
  text-transform: uppercase;
}

.sm-ul a {
  text-align: center;
  text-decoration: none;
}


//Base

section {
  padding: 5em 0;
}

footer {
  padding: 5em 0;
}

@media screen and (max-width: 750px) and (min-width: 500px) {
  form {
    max-width: 70%;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

hr {
  margin-bottom: 3em;
  width: 7%;
}
 //layout?

.section-portfolio .row {
  margin-bottom: 3em;
}

.section-portfolio img {
  max-width: 100%;
}


/*Header*/

.navbar-brand {
  padding: 5px 5px -5px 5px;
  background-color: rgb(255, 255, 255);
  border-radius: 5% rect;
}

.navbar-default {
  background: #fff;
}

.navbar .fa-external-link {
  vertical-align: top;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ff8686;
}

.navbar-default .navbar-nav > li > a:active {
  color: #940000;
}


/*Main*/

.section-main {
  position: relative;
  height: 680px;
  background: url(https://pbs.twimg.com/media/C7Pw967X4AEk3h3.jpg:large) no-repeat center center;
  background-size: cover;
}

.section-main:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.main-heading {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  padding: 0;
  margin: auto;
  color: #fff;
  z-index: 5;
}


/*About*/

.section-about {
  margin-top: 40px;
} //delete if shit
.section-about-text {
  margin-top: 200px;
  margin-bottom: 300px;
}

.section-about a {
  color: #000;
}

.section-about a p {
  font-size: 20px;
}

.section-about a:hover,
.section-about a:focus {
  color: #ff8686;
}

.container {
  text-align: center;
}


/*Services*/

.section-services {
  background: #f9f9f9;
}

.section-services i {
  display: block;
  margin: auto;
  width: 45px;
}

.section-services .fa-paint-brush {
  width: 64px;
}

.section-services .fa-code {
  width: 68px;
}

.section-services h2 {
  margin: 1em 0;
}


/*kind words*/

.section-kw {
  background: #f9f9f9;
}


/*Contact*/

.section-contact .form-control:focus {
  border-color: #ad0000;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(173, 0, 0, 0.6);
}

.section-contact .btn {
  padding: .5rem 1.75rem;
  background: #000;
  font-size: .95rem;
  color: #fff;
}

.section-contact .btn:hover,
.section-contact .btn:focus {
  background: #ff8686;
  border-color: #9ad9af;
}


/* .form-box {
  padding: 5px 5px 5px 5px;
  border-radius: 3%;
  background-color: rgb(247,247,247);
}

.btn-box {
  border-width: 100px;
  border-height: 100px;
  border-radius: 3%;
  border-color: rgb(247,27,247);
}
*/

.btn-lc {
  text-transform: lowercase;
}

#inputMessage {
  max-width: 100%;
  min-width: 50%;
  max-height: 50%;
  min-height: 40%;
}


/*Footer*/

footer {
  background: #D9D9D9;
}
//social media (footer)
.sm-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sm-ul li:not(:first-child) a {
  margin-left: 1em;
}

.sm-ul a {
  display: block;
  padding: .5em .5rem;
  font-size: 1rem;
  color: #f8f8f8;
  border-radius: 50%;
  border: 2px solid;
}

.sm-ul a:hover,
.sm-ul a:focus {
  color: #ff8686;
}

/*.container {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
} */

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}

@media (min-width:1200px) {
  .navbar a {
  	font-size: 26px;
  }
}

/* Medium Breakpoint */
@media (min-width:992px) and (max-width:1199px) {
	.navbar a {
	  font-size: 22px;
	}
  }

/* Small & Extra Small Breakpoints */
@media (max-width:991px) {

}

/* Small Breakpoint */
@media (min-width:768px) and (max-width:991px) {
	.navbar a {
		font-size: 16px;
	}
}

/* Extra Small Breakpoint */
@media (max-width:767px) {

}
